<?xml version="1.0"?>
<!--
/**
 * @category   Tender
 * @package    Tender_Core
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
     <system>
          <tab id="tendercore" translate="label" sortOrder="225">
              <label>Tender Srl</label>
          </tab>
          <section id="tendercore" translate="label" sortOrder="133" showInDefault="1" showInWebsite="1" showInStore="1">
              <tab>tendercore</tab>
              <label>Tender Srl</label>
              <resource>Tender_Core::config</resource>              
          </section>
     </system>
</config>