<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Tender_TenderDelivery::tenderdelivery_manage" title="Tender Delivery Settings"
             module="Tender_TenderDelivery" sortOrder="10"
             parent="Tender_Core::core"
             action="adminhtml/system_config/edit/section/tenderdelivery"
             resource="Tender_TenderDelivery::manage" />
    </menu>
</config>
